In [306]:
import pandas as pd
import numpy as np
filenames= ["Mon","Tue","Wed","Thur","Fri"]
slotof={}
roomof={}
slotdayof={}
rooms_all = set()
for filename in filenames:
    csv = pd.read_csv("csvs/"+filename+".csv")
    
    slots = list(csv.keys())[1:]
    for slot in slots:
        # For use in making entries -
        slotday=filename+"_"+slot
        for i,row in csv[['Room',slot]].dropna().iterrows():
            c = row[1]
            if( c in slotdayof ):
                slotdayof[c].add(slotday);
#                 if(slotday in slotdayof[c]):  
#                     print("Duplicate entry, Must have multirooms",slotday,c)
            else:
                slotdayof[c]=set([slotday])
            
            r = row[0]
            rooms_all.add(r) # distinct rooms
            if( c in roomof ):
                roomof[c].add(r);
            else:
                roomof[c]=set([r])
            # Just for listing the multislots
#             if( c in slotof ):
#                 slotof[c].add(slot);
#             else:
#                 slotof[c]=set([slot])
            
# print("MultiSlot Courses-",[x for x in slotof.items() if(len(x[1]) != 1)])
# print("SingleSlots in variableSlot Courses-",[x for x in slotof.items() if(len(x[1]) == 1)])
print("MultiRoom Courses-",[x for x in roomof.items() if(len(x[1]) != 1)])

MultiRoom Courses- [('EE230', {'4101', '3101', '2002', '2202', '2201'}), ('EE221', {'4101', '3101', '2002', '2202', '2201'}), ('ME222', {'1003', '1005'}), ('CE646', {'4211', '4205', '4208'}), ('CE584', {'4205', '4211'}), ('ME223', {'1003', '1005'}), ('EE663', {'2002', '3101'}), ('EE652', {'4101', '2202'}), ('ME224', {'1003', '1005'}), ('CE307', {'4201', '3102'}), ('CE570', {'4205', '4208'}), ('CE615', {'4205', '4211'}), ('CE623', {'3102', '4208'}), ('PH412', {'4004', '4212'}), ('ME323', {'1003', '1005'}), ('ME324', {'1003', '1005'}), ('ME322', {'1003', '1005'}), ('ME321', {'1003', '1005'}), ('EE551', {'4101', '2202'}), ('ME221', {'1003', '1005'}), ('ME605', {'1G2', '1005'}), ('PH521', {'4004', '4212'}), ('PH531', {'4004', '4212'}), ('CE304', {'4201', '4211'}), ('PH544', {'4004', '4212'}), ('PH545', {'4004', '4212'}), ('ME325', {'1003', '1005'})]

In [309]:
#Course entries - comes from slotdayof and slotbased (with division)
# course_code, division
courses = set()
division="NA"
# filenames one -
for c in slotdayof.items():    
    courses.add( (c[0],division) )
print(len(courses))
          
for i,csrd in slotbased.iterrows():
    c = csrd[0]
    d = csrd[3]
    if(type(d) != str):
        d = "NA"
    if( (c,d) in courses):
        print("Duplicate!",c,d)
    else:
        courses.add((c,d))
        
print(len(courses))
with open("150101021_courses.sql","w") as f:
    for c,ds in courses:
        for d in ds.split("&"):
            f.write("INSERT into Course (course_code,division) values ('"+c+"','"+d+"');\n")

164
328

In [313]:
#Slot entries
final_slots=[]
times=[]
slots_all=pd.read_csv("csvs/slots.csv",header=None)
for i,r in slots_all.iterrows():
    lr= list(r)
    if(i<1):
        times=lr[1:]
    else:
        day = lr[0]
        for t,l in enumerate(lr[1:]):
            if(type(l)==str): #ignore nan
                final_slots.append([l,day]+times[t].split("-"))
len(final_slots)
with open("150101021_slots.sql","w") as f:
    for s in final_slots:
        f.write("INSERT into Course (letter,day,start_time,end_time) values (" + ",".join(map(lambda x:("'"+str(x)+"'"),s))+");\n")

In [303]:
# Departments - department_id, name
depts = {
'CS': "Department of Computer Science and Engineering",
'EE': "Department of Electronics and Electrical Engineering" ,
'ME': "Department Of Mechanical Engineering" ,
'CE': "Department of Civil Engineering" ,
'DD': "Department of Design" ,
'BT': "Department Of Biosciences and Bioengineering",
'CL': "Department Of Chemical Engineering" ,
'PH': "Department Of Physics" ,
'CH': "Department Of Chemical Sciences and Technology" ,
'MA': "Department Of Mathematics and Computing" ,
'HS': "Department Of Humanities and Social Sciences" ,
'RT' : "Centre for Rural Technology",
'EN' : "Center for Energy",
'LS' : "Centre for Linguistic Science and Technology"
}

with open("150101021_depts.sql","w") as f:
    for d,dname in depts.items():
        f.write("INSERT into Department (department_id,name) values ('"+d+"','"+dname+"');\n")

INSERT into Department (department_id,name) values ('CS','Department of Computer Science and Engineering');
INSERT into Department (department_id,name) values ('EE','Department of Electronics and Electrical Engineering');
INSERT into Department (department_id,name) values ('ME','Department Of Mechanical Engineering');
INSERT into Department (department_id,name) values ('CE','Department of Civil Engineering');
INSERT into Department (department_id,name) values ('DD','Department of Design');
INSERT into Department (department_id,name) values ('BT','Department Of Biosciences and Bioengineering');
INSERT into Department (department_id,name) values ('CL','Department Of Chemical Engineering');
INSERT into Department (department_id,name) values ('PH','Department Of Physics');
INSERT into Department (department_id,name) values ('CH','Department Of Chemical Sciences and Technology');
INSERT into Department (department_id,name) values ('MA','Department Of Mathematics and Computing');
INSERT into Department (department_id,name) values ('HS','Department Of Humanities and Social Sciences');
INSERT into Department (department_id,name) values ('RT','Centre for Rural Technology');
INSERT into Department (department_id,name) values ('EN','Center for Energy');
INSERT into Department (department_id,name) values ('LS','Centre for Linguistic Science and Technology');

In [297]:
# Course	ClassSlot	Classroom	division	Day   Department
final = []
days={"Mon":"Monday", "Tue":"Tuesday", "Wed":"Wednesday", "Thur":"Thursday", "Fri":"Friday" }
slotbased = pd.read_csv("csvs/Slotbased.csv")

exceptions={
"Tue_E": ['HS203', 'HS212', 'HS213', 'HS220', 'HS224', 'HS226', 'HS234', 'HS237', 'HS238', 'HS239', 'HS242', 'HS243'],
"Mon_A": ['HS406', 'HS409', 'HS413', 'HS414', 'HS415', 'HS420', 'HS421', 'HS422', 'HS424', 'HS425'],
"Tue_E1": ['EE657','CL625','PH446','CH419'],
"Thu_C": ['BT630', 'BT632', 'CE552', 'CE616', 'CH438', 'CL639', 'CS526', 'EE664', 'EE671', 'EN671', 'LS621', 'ME609', 'PH443']
}

# Normal, fixed slot courses-
for i,csrd in slotbased.iterrows():
    course = csrd[0]
    slot = csrd[1]
    rooms_all.add(csrd[2])
    slot_days = [ f[1] for f in final_slots if f[0]==slot ] #only those days which have the slot
    for day in slot_days:
        checkstr = day[:3]+"_"+slot
        if (not (checkstr in exceptions and course in exceptions[checkstr] ) ):
            division = csrd[3]
            if(type(division) != str):
                division = "NA"
            final.append(list(csrd)[:3]+[division,day])
#         else:
#             print("Excluded "+checkstr+" for course "+course)
print("Normal ScheduledIn entries: ",len(final))

# Variable slot courses- (some are fixed though)
for csd in slotdayof.items():
    for s in csd[1]:
        for r in roomof[csd[0]]: #There are multiRoom courses as well.
            sd = s.split("_")
            final.append([csd[0],sd[1],r,'NA',days[sd[0]]])

print("Total ScheduledIn entries: ",len(final))

#for dept_id use course[:2]
final[0:1230:200]

Normal ScheduledIn entries:  606
Total ScheduledIn entries:  1240

[['BT101', 'D', 'L2', 'I&III', 'Monday'],
 ['CL205', 'B', '4102', 'NA', 'Wednesday'],
 ['HS239', 'E', '4G4', 'NA', 'Wednesday'],
 ['PH102', 'E', 'L2', 'I&III', 'Friday'],
 ['HS604', 'D', '1101', 'NA', 'Monday'],
 ['ME322', 'B1', '1005', 'NA', 'Monday'],
 ['ME680', 'F', '1005', 'NA', 'Friday']]

In [299]:
#checks for integrity 
#All courses link to a dept -
print("[] ==",[f for f  in final if f[0][:2] not in depts])
# "Other than Tuesday" cases - 
for c in ['CE552','CE616','EE657','EE664','EE671','PH443','PH446']:
    print(c,"bugcheck 3 ==",len([f for f  in final if f[0]==c]))
# Elective rooms - Not mentioned for LS621
print("LS621 bugcheck 3 ==",len([f for f  in final if f[2] == 'Elective_xxxx']))
# CommonRoom xxxx
print(" xxxx bugcheck 6 ==" , len([f for f  in final if f[2] == 'xxxx' or f[2] == 'CommonRoom']))

[] == []
CE552 bugcheck 3 == 3
CE616 bugcheck 3 == 3
EE657 bugcheck 3 == 3
EE664 bugcheck 3 == 3
EE671 bugcheck 3 == 3
PH443 bugcheck 3 == 3
PH446 bugcheck 3 == 3
LS621 bugcheck 3 == 3
 xxxx bugcheck 6 == 6

In [302]:
# Room entries - room_number, location
locations = ['Core-I', 'Core-II', 'Core-III', 'Core-IV', 'LH', 'Local']
for r in rooms_all:
    l = locations[int(r[0])-1] if r[0] in "1234" else ('LH' if r[0]=='L' else 'Local')
    print("INSERT into Room (room_number,location) values ('"+r+"','"+l+"');")

INSERT into Room (room_number,location) values ('2001','Core-II');
INSERT into Room (room_number,location) values ('1004','Core-I');
INSERT into Room (room_number,location) values ('4101','Core-IV');
INSERT into Room (room_number,location) values ('1003','Core-I');
INSERT into Room (room_number,location) values ('2102','Core-II');
INSERT into Room (room_number,location) values ('xxxx','Local');
INSERT into Room (room_number,location) values ('4002','Core-IV');
INSERT into Room (room_number,location) values ('2204','Core-II');
INSERT into Room (room_number,location) values ('4201','Core-IV');
INSERT into Room (room_number,location) values ('4205','Core-IV');
INSERT into Room (room_number,location) values ('1102','Core-I');
INSERT into Room (room_number,location) values ('2203','Core-II');
INSERT into Room (room_number,location) values ('L1','LH');
INSERT into Room (room_number,location) values ('1006','Core-I');
INSERT into Room (room_number,location) values ('4203','Core-IV');
INSERT into Room (room_number,location) values ('4207','Core-IV');
INSERT into Room (room_number,location) values ('4211','Core-IV');
INSERT into Room (room_number,location) values ('1201','Core-I');
INSERT into Room (room_number,location) values ('L2','LH');
INSERT into Room (room_number,location) values ('2202','Core-II');
INSERT into Room (room_number,location) values ('4208','Core-IV');
INSERT into Room (room_number,location) values ('1G2','Core-I');
INSERT into Room (room_number,location) values ('4212','Core-IV');
INSERT into Room (room_number,location) values ('1101','Core-I');
INSERT into Room (room_number,location) values ('1103','Core-I');
INSERT into Room (room_number,location) values ('1104','Core-I');
INSERT into Room (room_number,location) values ('4006','Core-IV');
INSERT into Room (room_number,location) values ('4210','Core-IV');
INSERT into Room (room_number,location) values ('4004','Core-IV');
INSERT into Room (room_number,location) values ('1002','Core-I');
INSERT into Room (room_number,location) values ('3202','Core-III');
INSERT into Room (room_number,location) values ('1206','Core-I');
INSERT into Room (room_number,location) values ('L3','LH');
INSERT into Room (room_number,location) values ('L4','LH');
INSERT into Room (room_number,location) values ('4001','Core-IV');
INSERT into Room (room_number,location) values ('1G1','Core-I');
INSERT into Room (room_number,location) values ('2101','Core-II');
INSERT into Room (room_number,location) values ('4G3','Core-IV');
INSERT into Room (room_number,location) values ('1207','Core-I');
INSERT into Room (room_number,location) values ('4103','Core-IV');
INSERT into Room (room_number,location) values ('4104','Core-IV');
INSERT into Room (room_number,location) values ('4G4','Core-IV');
INSERT into Room (room_number,location) values ('4005','Core-IV');
INSERT into Room (room_number,location) values ('4209','Core-IV');
INSERT into Room (room_number,location) values ('4102','Core-IV');
INSERT into Room (room_number,location) values ('3102','Core-III');
INSERT into Room (room_number,location) values ('3003','Core-III');
INSERT into Room (room_number,location) values ('Elective_xxxx','Local');
INSERT into Room (room_number,location) values ('3101','Core-III');
INSERT into Room (room_number,location) values ('2002','Core-II');
INSERT into Room (room_number,location) values ('1203','Core-I');
INSERT into Room (room_number,location) values ('1005','Core-I');
INSERT into Room (room_number,location) values ('4003','Core-IV');
INSERT into Room (room_number,location) values ('4206','Core-IV');
INSERT into Room (room_number,location) values ('2201','Core-II');